html { -webkit-font-smoothing: antialiased; }


body {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   width: 100%;
   background-color: #CCCCCC;
   color: #202020 !important;
}

.nav { color: #202020; text-decoration: underline;}

a {color: blue;}
a:visited { color: #blue;}
a:hover, a:active { text-decoration: underline; color:blue }


.page-title {
  font-size: 3.3rem;
	color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #202020;
}

.home-title {
   font-size: 4.5rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #5E2CA5;
}

@media 

.jooho:after{
    content: 'J.';
}

.jooho:hover:after{
    content: '주호';
}

.kim:after{
    content: 'Kim';
}

.kim:hover:after{
    content: '김';
}

.flexbox {
  width: 100%;
}

.home-tilepreview {
  height: 450px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .home-tilepreview {
    height: auto;
  }


}

.home-tilepreview a {
  color: white;
  text-decoration: none;
}

.home-link {
	color: transparent;
  -webkit-text-stroke-width: .6px;
  -webkit-text-stroke-color: #5E2CA5;
}

.jumbofirst {
	background-image: url('images/hshsthumbnail.jpg');
	background-size: cover;
}

.steve-photo {
  background-image: url('images/profile-pic.jpg');
  background-size: cover;
}

.fade {
	opacity: 0
;}

.fade-ani {
    animation: fadein 1s both;
    animation-delay: .1s;
}

.prototype {
}

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}