* {
    font-family: Avenir;
}

body{
    width: 100%;
    background: #B98A55;
}

h2 {
    font-size: 1.3rem;   
}

.body-wrapper {
    margin: 80px 6%;
    
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.navigation-menu a {
    margin-right: 20px;
    color: white;
    text-decoration: none;

}

#home .container {
    display: flex;
    align-items: center;
}


#home .column.left  {
    padding-top: 60px;
    padding-left: 50px;
}

#home .column.right {
    /*border: 1px solid #000000;*/
    padding-left: 30px;

}

#home h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 0px;
    font-family: Garamond;
}

#home p {
    font-size: 1.1rem;
    margin: 0px;
    margin-top: 20px;
    line-height: 180%;
    width: 80%;
}

.projects {
    margin-top: 70px;
}

.project {
    height: 300px;
    background: black;
}

.HSHS {
    background: #41774D;
}

.Twiage {
   background: #9A3B3B;
}

.comp20 {
    background: #343030;
}

.dataviz {
    background: #977575;
}

#bio .container {
    display: flex;
    align-items: center;
}


#bio .column.left  {
    padding-left: 50px;
}

#bio .column.right {
    /*border: 1px solid #000000;*/
    padding-left: 30px;

}

#bio .column.left p {
    font-size: 1.2rem;
    line-height: 180%;
}



/* -----------Resume----------- */

.container {
    display: flex;
}
#resume .column.left{
    /*border: 1px solid #000000;*/
}


#resume .column.right{
    width: 600px;
    padding-left: 20px;
    /*border: 1px solid blue;*/
}

.contact-info {
    /*border: 1px solid red;*/
}

.contact-info h1 {
    margin-bottom: 5px;
}

.contact-info p {
    margin: 0;
    font-size: .7rem;
}

.education-section {
    margin-bottom: 20px;
}

.experience-section {
    display: inline-block;
    margin-top: 0px;
    padding-top: 0px;
}

.experience-section h2 {
    margin-top: 5px;
    margin-bottom: 15px;
}

.experience {
    margin-bottom: 30px;
}

.experience h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    margin-top: 0px;
}

.experience p {
    margin: 0px;
}

.skills-section {
    margin: 0;
}

