html { -webkit-font-smoothing: antialiased; }


body {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
   width: 100%;
   background-color: #F7F7F7;
}

h1 {
	font-weight: 200;
}

h2 {
    font-size: 1.3rem;   
}

a:link { color: #CC9B9B; text-decoration: underline;}
a:visited { color: #CC9B9B;}
a:hover { text-decoration: none; color:blue; }
a:focus { text-decoration: none; color:yellow; }
a:hover, a:active { text-decoration: none; color:blue }

.footer {
    margin-top: 100px;
    margin-bottom: 0px;
    padding: 0;
    text-align: center;
}

.homelink {
    text-decoration: none;
}

.homelink:before {
    transition: width 0s ease,background .4s ease;
}

.homelink:after {
    background: rgba(31,202,92,.2);
}

.body-wrapper {
    margin: 80px 10%;
}

.navigation-menu {
    display: flex;
    justify-content: flex-end;
    height: 60px;
}

.navigation-menu a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.home .container {
    display: flex;
    align-items: center;
}

.home .column.left  {
    padding-top: 60px;
}

.home .column.right {
    /*border: 1px solid #000000;*/
    padding-left: 30px;
}

.home .intro h1 {
    font-size: 5rem;
    margin-bottom: 0px;
    font-weight: 700;
}

.home .intro p {
    margin: 0px;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 130%;
    width:100%;
}

.home .intro {
    animation: fadein 1s both;
    animation-delay: .1s;
}

@keyframes fadein{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.projects {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 2rem;

}

.projects a{
    text-decoration: none;
}

.project {
    height: 150px;
    width: inherit;
    padding: 50px;
    padding-top: 200px;
    padding-bottom: 10px;
    opacity: 0.85;
    transition: .3s ease;
    text-decoration: none;
}

.project h3{
    font-size: 3rem;
    font-weight: 500;
    color: white;
    margin: 0;
    text-decoration: none;
    text-align: left;
}

.project p {
    width: 250px;
    font-size: 1.2rem;
    color: white;
    font-weight: 200;
    margin-top: 10px;
}

.project.observer p {
     color: #323232;
     width: 280px;
}

.project.observer h3 {
     color: #323232;
}




.project:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 20px #392fde;
}


.HSHS {
    background-image: url('images/hshsthumbnail.png');
    background-size: cover;
    background-position: -90px;
}

.projecttwo {
   background-image : url('images/twiagethumbnail.png');
   background-size: cover;
   background-position: -100px;

}

.observer {
    background-image: url('images/observerthumbnail.png');
    background-size: cover;
}



.comp20 {
    background: #343030;
}

.dataviz {
    background: #5A8FC4;
}


/* -----------Bio----------- */


.biocontainer {
    display: flex;
}


.biocontainer .column.right {
    /*border: 1px solid #000000;*/
    padding-top: 20px;
    padding-left: 30px;

}

.biocontainer .column.left p {
    font-size: 1rem;
    line-height: 160%;
}

.biocontainer img {
    border-radius: 9px;
}




/* -----------Twiage----------- */


.background {
    margin-top: 30px;
}

.twiage {
}

.casestudy h2 {
    text-align: left;
}

.casestudy .intro .link{
    font-size: 1.4rem;
    color: #5D8D6A;
    text-decoration: underline;
}

.casestudy .intro .link:hover{
    color: #392fde;
}

.casestudy .intro{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.casestudy .intro h1{
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.casestudy .intro p {
    font-size: 1.4rem;
    line-height: 130%;
    font-weight: 400;
    text-align: center;
    color: #9B9B9B;
}

.casestudy .writing p, li{
    font-family: Georgia;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    color: #323232;
}

.casestudy .section {
    margin-top: 50px;
}

.image {
    display: block;
    margin: 0 auto;
}

#statapp h2 {
    margin-top: 60px;
}

#siteredesign img{
    display: block;
    margin: 0 auto;
}

.prototype {
    display: block;
    margin: 0 auto;
}

button {
    background-color: #392fde;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


button:hover {
    opacity: .8;
}

@media only screen and (max-width: 736px){
    .home .intro h1 {
        font-size: 2.5rem;
        margin-bottom: 0px;
        font-weight: 700;
    }

    .home .intro p {
        margin: 0px;
        margin-top: 20px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 130%;
        width:100%;
    }

    .projects {
        margin-top: 30px;
        display: block;
    }

    .project {
        width: inherit;
        padding: 30px;
        opacity: 0.85;
        transition: .3s ease;
        text-decoration: none;
        height: 250px;
        margin-bottom: 30px;
    }

    .project h3{
        font-size: 2rem;
        font-weight: 500;
        color: white;
        margin: 0;
        margin-top: 160px;
        text-decoration: none;
        text-align: left;
    }

    .project p {
        width: 250px;
        font-size: 1rem;
        color: white;
        font-weight: 200;
        margin-top: 10px;
    }

    .HSHS {
        background-position: -150px;
    }

    .projecttwo {
        background-position: -160px;
    }

    .observer {
        background-position: -140px;
    }


    .biocontainer .column.left p {
        font-size: .7rem;
        line-height: 200%;
    }

    .biocontainer {
        display: inline;
    }


}

